* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

button {
  background-color: rgb(173, 123, 220);
  margin-left: 1px;
  color: rgb(35, 5, 62);
  border-radius: 5px;
  padding: 5px;
}

button:hover {
  opacity: 0.8;
}

input {
  width: 50px;
  margin-left: 2px;
  padding: 5px;
  border-radius: 5px;
}

#confirm-size {
  background-color: rgb(152, 181, 108);
}

#sketch-color {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

#reset {
  background-color: rgb(225, 60, 60);
}

#delete-mode {
  background-color: rgb(226, 226, 221);
}

#grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 90vh;
  height: 90vh;
  margin: 0 auto;
  margin-top: 2px;
}

.square {
  border: 1px solid rgb(0, 0, 0);
}

#nav {
  display: flex;
  width: 90vh;
  margin: 0 auto;
  align-items: center;
  padding-top: 1%;
  justify-content: space-between;
}

#title {
  text-align: center;
  font-family: "Caveat";
}

#controls {
  display: flex;
}

#size-pick {
  display: none;
}

#back {
  margin: 4px;
}

#error-size {
  width: 90vh;
  margin: 0 auto;
  font-size: smaller;
  text-align: end;
  color: rgb(221, 8, 8);
}

#black-color {
  color: white;
  background-color: black;
}
